# Active sampler learning experiments.
---
APPROACHES:
  main:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "active_sampler"
  # Random explore baseline
  random-explore:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "random_nsrts"
ENVS:
  regional_bumpy_cover:
    NAME: "regional_bumpy_cover"
    FLAGS:
      bumpy_cover_num_bumps: 3
      bumpy_cover_spaces_per_bump: 3
      bumpy_cover_init_bumpy_prob: 1.0
      cover_num_blocks: 10
      cover_block_widths: '[0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01]'
      cover_num_targets: 10
      cover_target_widths: '[0.008,0.008,0.008,0.008,0.008,0.008,0.008,0.008,0.008,0.008]'
ARGS:
  - "debug"
FLAGS:
  strips_learner: "oracle"
  sampler_learner: "oracle"
  bilevel_plan_without_sim: "True"
  max_initial_demos: 0
  num_train_tasks: 1000
  num_test_tasks: 100
  max_num_steps_interaction_request: 50
  sampler_mlp_classifier_max_itr: 100000
  mlp_classifier_balance_data: False
  pytorch_train_print_every: 10000
  active_sampler_learning_use_teacher: False # NOTE
  online_nsrt_learning_requests_per_cycle: 1
  num_online_learning_cycles: 20
START_SEED: 123
NUM_SEEDS: 10
