# Final active sampler learning experiments.
---
APPROACHES:
  planning_progress_explore:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "active_sampler"
      active_sampler_explore_task_strategy: "planning_progress"
  task_repeat_explore:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "active_sampler"
      active_sampler_explore_task_strategy: "task_repeat"
  success_rate_explore:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "active_sampler"
      active_sampler_explore_task_strategy: "success_rate"
  random_score_explore:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "active_sampler"
      active_sampler_explore_task_strategy: "random"
  random_nsrts_explore:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "random_nsrts"
  maple_q:
    NAME: "maple_q"
    FLAGS:
      explorer: "maple_q"
      mlp_regressor_max_itr: 100000
      active_sampler_learning_batch_size: 1024
ENVS:
  # tiny_grid_row:
  #   NAME: "grid_row"
  #   FLAGS:
  #     max_num_steps_interaction_request: 500
  #     grid_row_num_cells: 3
  # grid_row:
  #   NAME: "grid_row"
  #   FLAGS:
  #     max_num_steps_interaction_request: 500
  sticky_table:
    NAME: "sticky_table"
    FLAGS:
      max_num_steps_interaction_request: 50
  # sticky_table_tricky_floor:
  #   NAME: "sticky_table_tricky_floor"
  #   FLAGS:
  #     max_num_steps_interaction_request: 50
  # regional_bumpy_cover:
  #   NAME: "regional_bumpy_cover"
  #   FLAGS:
  #     max_num_steps_interaction_request: 500
  #     regional_bumpy_cover_include_impossible_nsrt: "True"
  #     bumpy_cover_num_bumps: 3
  #     bumpy_cover_spaces_per_bump: 5
  #     bumpy_cover_init_bumpy_prob: 0.25
  #     cover_num_blocks: 10
  #     cover_block_widths: '[0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01]'
  #     cover_num_targets: 10
  #     cover_target_widths: '[0.008,0.008,0.008,0.008,0.008,0.008,0.008,0.008,0.008,0.008]'
  # kitchen:
  #   NAME: "kitchen"
  #   FLAGS:
  #     max_num_steps_interaction_request: 500
  #     num_train_tasks: 100
  #     max_num_steps_option_rollout: 250
ARGS:
  - "debug"
FLAGS:
  num_test_tasks: 10
  strips_learner: "oracle"
  sampler_learner: "oracle"
  bilevel_plan_without_sim: "True"
  execution_monitor: "expected_atoms"
  max_initial_demos: 0
  sampler_mlp_classifier_max_itr: 100000
  mlp_classifier_balance_data: False
  pytorch_train_print_every: 10000
  active_sampler_learning_model: "myopic_classifier_mlp"
  active_sampler_learning_use_teacher: False
  online_nsrt_learning_requests_per_cycle: 1
  num_online_learning_cycles: 10
  active_sampler_learning_explore_length_base: 100000  # effectively disable
  sesame_task_planner: "fdopt-costs"
  sesame_grounder: "fd_translator"
START_SEED: 456
NUM_SEEDS: 10
