# Final active sampler learning experiments.
---
APPROACHES:
  planning_progress_explore:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "active_sampler"
      active_sampler_explore_task_strategy: "planning_progress"
  task_repeat_explore:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "active_sampler"
      active_sampler_explore_task_strategy: "task_repeat"
  success_rate_explore_ucb:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "active_sampler"
      active_sampler_explore_task_strategy: "success_rate"
      active_sampler_explore_use_ucb_bonus: False
  success_rate_explore_no_ucb:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "active_sampler"
      active_sampler_explore_task_strategy: "success_rate"
      active_sampler_explore_use_ucb_bonus: False
  random_score_explore:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "active_sampler"
      active_sampler_explore_task_strategy: "random"
  random_nsrts_explore:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "random_nsrts"
  maple_q:
    NAME: "maple_q"
    FLAGS:
      explorer: "maple_q"
      mlp_regressor_max_itr: 100000
      active_sampler_learning_batch_size: 1024
ENVS:
  # tiny_grid_row:
  #   NAME: "grid_row"
  #   FLAGS:
  #     grid_row_num_cells: 3
  #     max_num_steps_interaction_request: 500
  #     active_sampler_learning_explore_length_base: 100000  # effectively disable
  #     active_sampler_learning_feature_selection: all
  #     active_sampler_learning_explore_pursue_goal_interval: 1
  # regional_bumpy_cover:
  #   NAME: "regional_bumpy_cover"
  #   FLAGS:
  #     regional_bumpy_cover_include_impossible_nsrt: "True"
  #     bumpy_cover_num_bumps: 3
  #     bumpy_cover_spaces_per_bump: 5
  #     bumpy_cover_init_bumpy_prob: 0.25
  #     cover_num_blocks: 10
  #     cover_block_widths: '[0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01]'
  #     cover_num_targets: 10
  #     cover_target_widths: '[0.008,0.008,0.008,0.008,0.008,0.008,0.008,0.008,0.008,0.008]'
  #     active_sampler_learning_feature_selection: all
  #     active_sampler_learning_explore_pursue_goal_interval: 1
  grid_row:
    NAME: "grid_row"
    FLAGS:
      max_num_steps_interaction_request: 150
      active_sampler_learning_explore_length_base: 100000  # effectively disable
      active_sampler_learning_feature_selection: all
      active_sampler_learning_explore_pursue_goal_interval: 1
  ball_and_cup_sticky_table:
    NAME: "ball_and_cup_sticky_table"
    FLAGS:
      sticky_table_place_smooth_fall_prob: 1.00
      sticky_table_place_sticky_fall_prob: 0.00
      sticky_table_pick_success_prob: 1.0
      sticky_table_num_sticky_tables: 1
      sticky_table_num_tables: 5
      sticky_table_place_ball_fall_prob: 1.00
      active_sampler_learning_explore_length_base: 25
      active_sampler_learning_exploration_epsilon: 0.5
      skill_competence_model_optimistic_recency_size: 2
      skill_competence_model_optimistic_window_size: 2
      horizon: 8
      active_sampler_learning_explore_length_base: 100000  # effectively disable
      active_sampler_learning_feature_selection: oracle
  spot_sweeping_sim:
    NAME: "spot_soda_sweep_env"
    FLAGS:
      active_sampler_learning_explore_length_base: 25
      active_sampler_learning_exploration_epsilon: 0.5
      skill_competence_model_optimistic_recency_size: 2
      skill_competence_model_optimistic_window_size: 2
      horizon: 15
      active_sampler_learning_explore_length_base: 100000  # effectively disable
      active_sampler_learning_feature_selection: oracle
      spot_run_dry: True
      perceiver: spot_perceiver
      approach_wrapper: spot_wrapper
  regional_bumpy_cover:
    NAME: "regional_bumpy_cover"
    FLAGS:
      regional_bumpy_cover_include_impossible_nsrt: "True"
      bumpy_cover_num_bumps: 3
      bumpy_cover_spaces_per_bump: 5
      bumpy_cover_init_bumpy_prob: 0.25
      cover_num_blocks: 10
      cover_block_widths: '[0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01]'
      cover_num_targets: 10
      cover_target_widths: '[0.008,0.008,0.008,0.008,0.008,0.008,0.008,0.008,0.008,0.008]'
      active_sampler_learning_feature_selection: all
  kitchen:
    NAME: "kitchen"
    FLAGS:
      num_train_tasks: 100
      max_num_steps_option_rollout: 250
      active_sampler_learning_feature_selection: all
ARGS: []
FLAGS:
  num_test_tasks: 10
  strips_learner: "oracle"
  sampler_learner: "oracle"
  bilevel_plan_without_sim: "True"
  execution_monitor: "expected_atoms"
  max_initial_demos: 0
  sampler_mlp_classifier_max_itr: 100000
  mlp_classifier_balance_data: False
  pytorch_train_print_every: 10000
  active_sampler_learning_model: "myopic_classifier_mlp"
  active_sampler_learning_use_teacher: False
  online_nsrt_learning_requests_per_cycle: 1
  max_num_steps_interaction_request: 100
  num_online_learning_cycles: 10
  sesame_task_planner: "fdopt-costs"
  sesame_grounder: "fd_translator"
  active_sampler_learning_n_iter_no_change: 5000
START_SEED: 456
NUM_SEEDS: 10