# Final active sampler learning experiments.
---
APPROACHES:
  planning_progress_explore:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "active_sampler"
      active_sampler_explore_task_strategy: "planning_progress"
  competence_gradient_explore_ucb:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "active_sampler"
      active_sampler_explore_task_strategy: "competence_gradient"
      active_sampler_explore_use_ucb_bonus: True
  task_repeat_explore:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "active_sampler"
      active_sampler_explore_task_strategy: "task_repeat"
  success_rate_explore_ucb:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "active_sampler"
      active_sampler_explore_task_strategy: "success_rate"
      active_sampler_explore_use_ucb_bonus: True
  skill_diversity_explore_ucb:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "active_sampler"
      active_sampler_explore_task_strategy: "skill_diversity"
  random_score_explore:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "active_sampler"
      active_sampler_explore_task_strategy: "random"
  random_nsrts_explore:
    NAME: "active_sampler_learning"
    FLAGS:
      explorer: "random_nsrts"
  maple_q:
    NAME: "maple_q"
    FLAGS:
      explorer: "maple_q"
      mlp_regressor_max_itr: 100000
      active_sampler_learning_batch_size: 1024
ENVS:
  grid_row:
    NAME: "grid_row"
    FLAGS:
      active_sampler_learning_explore_length_base: 100000  # effectively disable
      active_sampler_learning_feature_selection: all
      active_sampler_learning_explore_pursue_goal_interval: 1
      max_num_steps_interaction_request: 150
  ball_and_cup_sticky_table:
    NAME: "ball_and_cup_sticky_table"
    FLAGS:
      sticky_table_place_smooth_fall_prob: 1.00
      sticky_table_place_sticky_fall_prob: 0.00
      sticky_table_pick_success_prob: 1.0
      sticky_table_num_sticky_tables: 1
      sticky_table_num_tables: 5
      sticky_table_place_ball_fall_prob: 1.00
      active_sampler_learning_explore_length_base: 25
      active_sampler_learning_exploration_epsilon: 0.5
      skill_competence_model_optimistic_recency_size: 2
      skill_competence_model_optimistic_window_size: 2
      horizon: 8
      active_sampler_learning_explore_length_base: 100000  # effectively disable
      active_sampler_learning_feature_selection: oracle
      max_num_steps_interaction_request: 100
  spot_sweeping_sim:
    NAME: "spot_main_sweep_env"
    FLAGS:
      active_sampler_learning_explore_length_base: 10000 # effectively disable
      active_sampler_learning_exploration_epsilon: 0.5
      skill_competence_model_optimistic_recency_size: 2
      skill_competence_model_optimistic_window_size: 2
      horizon: 10
      active_sampler_learning_explore_length_base: 100000  # effectively disable
      active_sampler_learning_feature_selection: oracle
      spot_run_dry: True
      approach_wrapper: spot_wrapper
      perceiver: spot_perceiver
      segmenter: spot
      active_sampler_learning_explore_pursue_goal_interval: 1
      max_num_steps_interaction_request: 125
  spot_sweeping_sim_train_toy_only:
    NAME: "spot_main_sweep_env"
    FLAGS:
      spot_sweep_env_goal_description: "'get the train_toy into the bucket'"
      active_sampler_learning_explore_length_base: 25
      active_sampler_learning_exploration_epsilon: 0.5
      skill_competence_model_optimistic_recency_size: 2
      skill_competence_model_optimistic_window_size: 2
      horizon: 15
      active_sampler_learning_explore_length_base: 100000  # effectively disable
      active_sampler_learning_feature_selection: oracle
      active_sampler_learning_init_cycles_to_pursue_goal: 5
      spot_run_dry: True
      perceiver: spot_perceiver
      approach_wrapper: spot_wrapper
      segmenter: spot
      max_num_steps_interaction_request: 100
ARGS: []
FLAGS:
  num_test_tasks: 10
  strips_learner: "oracle"
  sampler_learner: "oracle"
  bilevel_plan_without_sim: "True"
  execution_monitor: "expected_atoms"
  max_initial_demos: 0
  sampler_mlp_classifier_max_itr: 100000
  mlp_classifier_balance_data: False
  pytorch_train_print_every: 10000
  active_sampler_learning_model: "myopic_classifier_mlp"
  active_sampler_learning_use_teacher: False
  online_nsrt_learning_requests_per_cycle: 1
  num_online_learning_cycles: 10
  sesame_task_planner: "fdopt-costs"
  sesame_grounder: "fd_translator"
  active_sampler_learning_n_iter_no_change: 5000
  spot_graph_nav_map: "floor8-sweeping"
START_SEED: 456
NUM_SEEDS: 10
