# PG4 experiments.
---
APPROACHES:
  pg3:
    NAME: "pg3"
    FLAGS: {}
  pg4:
    NAME: "pg4"
    FLAGS: {}
  plan-only:
    NAME: "oracle"
    FLAGS: {}
ENVS:
  cover-easy:  # downward refinable. PG3 should succeed
    NAME: "cover"
    FLAGS:
      cover_initial_holding_prob: 0.0
  cover:  # PG3 should sometimes fail, but PG4 should succeed
    NAME: "cover"
    FLAGS: {}
  painting-no-holding-shelf-only:
    NAME: "painting"
    FLAGS:
      painting_initial_holding_prob: 0.0
      painting_goal_receptacles: "shelf"
  painting-no-lid-no-holding-box-only:
    NAME: "painting"
    FLAGS:
      painting_lid_open_prob: 1.0
      painting_initial_holding_prob: 0.0
      painting_goal_receptacles: "box"
  painting-lid-no-holding-box-only:
    NAME: "painting"
    FLAGS:
      painting_initial_holding_prob: 0.0
      painting_goal_receptacles: "box"
  painting-lid-no-holding-boxandshelf:
    NAME: "painting"
    FLAGS:
      painting_initial_holding_prob: 0.0
  screws:
    NAME: "screws"
    FLAGS: {}
  repeated-nextto:
    NAME: "repeated_nextto"
    FLAGS: {}
  cluttered-table:
    NAME: "cluttered_table"
    FLAGS: {}
  coffee-easy:
    NAME: "coffee"
    FLAGS:
      coffee_jug_init_rot_amt: 0
  coffee-hard:
    NAME: "coffee"
    FLAGS: {}
ARGS: []
FLAGS:
  strips_learner: oracle
  sampler_learner: oracle
  num_train_tasks: 50
START_SEED: 456
NUM_SEEDS: 10
