__pycache__
*.pyc
.DS_Store
.vscode
*.egg-info
*.pkl
*~
*.python-version
*.csv
*.zip
*.so
build
dist
pylint_recursive.py
.coverage
results
eval_trajectories
images
videos
logs*
saved_approaches
saved_datasets
scripts/results
pretrained_model_cache*
tests/datasets/mock_vlm_datasets/cache/
machines.txt
*_vision_data
tests/_fake_trajs
tests/_fake_results
sas_plan
downward/
Gymnasium-Robotics/
predicators/datasets/vlm_input_data_prompts/vision_api/prompt.txt
predicators/datasets/vlm_input_data_prompts/vision_api/response.txt

# Jetbrains IDEs
.idea/
