<?xml version="1.0"?>
<robot name="table">
  <link name="base_link">
    <contact>
      <rolling_friction value="0.001"/>
    </contact>
    <inertial>
      <mass value=".0"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <geometry>
        <box size="1.3 0.9 0.4" />
      </geometry>
      <material name="table_mat">
        <color rgba="0.93 0.93 0.93 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="1.3 0.9 0.4" />
      </geometry>
    </collision>
   </link>
</robot>

