<?xml version="1.0"?>
<robot name="mirror_piece">

  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0.005" rpy="0 0 0"/>
      <mass value="0.1"/> <!-- Small mass -->
      <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/> <!-- Small inertia -->
    </inertial>
    <visual>
      <origin xyz="0 0 0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.08 0.01"/>
      </geometry>
      <material name="mirror_piece_base_material">
        <color rgba="0.5 1 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.08 0.01"/>
      </geometry>
      <contact>
        <lateral_friction value="1000.0"/> <!-- Large friction -->
      </contact>
    </collision>
  </link>

  <link name="mirror_piece_body">
    <inertial>
      <origin xyz="0 0 0.060000000000000005" rpy="0 0 0.7853981633974483"/>
      <mass value="0.1"/> <!-- Small mass -->
      <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/> <!-- Small inertia -->
    </inertial>
    <visual>
      <origin xyz="0 0 0.060000000000000005" rpy="0 0 0.7853981633974483"/>
      <geometry>
        <box size="0.07 0.01 0.1"/>
      </geometry>
      <material name="mirror_piece_body_material">
        <color rgba="1 1 1 1"/>
        <specular>1 1 1 1</specular>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.060000000000000005" rpy="0 0 0.7853981633974483"/>
      <geometry>
        <box size="0.07 0.01 0.1"/>
      </geometry>
      <contact>
        <lateral_friction value="1000.0"/> <!-- Large friction -->
      </contact>
    </collision>
  </link>

  <joint name="base_to_mirror_piece_body" type="fixed">
    <parent link="base_link"/>
    <child link="mirror_piece_body"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>