<?xml version="1.0"?>
<robot name="pole_with_base">

  <link name="base">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
    </collision>
  </link>

  <link name="rod">
    <visual>
      <origin xyz="0 0 .031" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.005" length=".1"/>
      </geometry>
      <material name="red">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.031" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.005" length=".1"/>
      </geometry>
    </collision>
  </link>

  <!-- Define joint: fixed joint to connect base and rod -->
  <joint name="fixed_joint" type="fixed">
    <parent link="base"/>
    <child link="rod"/>
    <origin xyz="0 0 0.0155" rpy="0 0 0"/>
  </joint>

</robot>