<robot name="battery_box_snap_2unit_switch">

  <!-- BEGIN battery_box_snap content  -->


  <!-- Box link -->

    <link name="box">

        <!-- Box wall #0 -->
        <visual>
          <origin xyz="-0.0125 0.0 -0.04" rpy="0 0 0" />
          <geometry>
            <box size="0.08 0.12000000000000001 0.01" />
          </geometry>
          <material name="box_wall_mat_0">
            <color rgba="0 0.5 1 1"/>
          </material>
        </visual>
        <collision>
          <origin xyz="-0.0125 0.0 -0.04" rpy="0 0 0" />
          <geometry>
            <box size="0.08 0.12000000000000001 0.01" />
          </geometry>
        </collision>

        <!-- Box wall #1 -->
        <visual>
          <origin xyz="-0.0125 0.0 0.12" rpy="0 0 0" />
          <geometry>
            <box size="0.08 0.12000000000000001 0.01" />
          </geometry>
          <material name="box_wall_mat_1">
            <color rgba="0 0.5 1 1"/>
          </material>
        </visual>
        <collision>
          <origin xyz="-0.0125 0.0 0.12" rpy="0 0 0" />
          <geometry>
            <box size="0.08 0.12000000000000001 0.01" />
          </geometry>
        </collision>

        <!-- Box wall #2 -->
        <visual>
          <origin xyz="-0.0125 -0.065 0.04" rpy="0 0 0" />
          <geometry>
            <box size="0.08 0.01 0.16" />
          </geometry>
          <material name="box_wall_mat_2">
            <color rgba="0 0.5 1 1"/>
          </material>
        </visual>
        <collision>
          <origin xyz="-0.0125 -0.065 0.04" rpy="0 0 0" />
          <geometry>
            <box size="0.08 0.01 0.16" />
          </geometry>
        </collision>

        <!-- Box wall #3 -->
        <visual>
          <origin xyz="-0.0125 0.065 0.04" rpy="0 0 0" />
          <geometry>
            <box size="0.08 0.01 0.16" />
          </geometry>
          <material name="box_wall_mat_3">
            <color rgba="0 0.5 1 1"/>
          </material>
        </visual>
        <collision>
          <origin xyz="-0.0125 0.065 0.04" rpy="0 0 0" />
          <geometry>
            <box size="0.08 0.01 0.16" />
          </geometry>
        </collision>

        <!-- Box wall #4 -->
        <visual>
          <origin xyz="-0.0575 0.0 0.04" rpy="0 0 0" />
          <geometry>
            <box size="0.01 0.12000000000000001 0.16" />
          </geometry>
          <material name="box_wall_mat_4">
            <color rgba="0 0.5 1 1"/>
          </material>
        </visual>
        <collision>
          <origin xyz="-0.0575 0.0 0.04" rpy="0 0 0" />
          <geometry>
            <box size="0.01 0.12000000000000001 0.16" />
          </geometry>
        </collision>

    </link>


  <!-- Snap connector (2-unit) -->

    <!-- Snap connector (2-unit) -->

    <link name="middle_plastic">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.1 0.05 0.05" />
        </geometry>
        <material name="middle_plastic_mat">
          <color rgba="0.0 0.5 1.0 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.1 0.05 0.05" />
        </geometry>
      </collision>
    </link>


    <link name="start_metal">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.05 0.05 0.05" />
        </geometry>
        <material name="start_metal_mat">
          <color rgba="0.8 0.8 0.8 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.05 0.05 0.05" />
        </geometry>
      </collision>
    </link>


    <link name="end_metal">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.05 0.05 0.05" />
        </geometry>
        <material name="end_metal_mat">
          <color rgba="0.8 0.8 0.8 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.05 0.05 0.05" />
        </geometry>
      </collision>
    </link>


    <link name="line">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.1 0.01 0.0001" />
        </geometry>
        <material name="line_mat">
          <color rgba="0.8 0.8 0.8 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.1 0.01 0.0001" />
        </geometry>
      </collision>
    </link>



        <joint name="start_metal_joint" type="fixed">
          <parent link="middle_plastic"/>
          <child link="start_metal"/>
          <origin xyz="-0.07500000000000001 0 0" rpy="0 0 0"/>
        </joint>


        <joint name="end_metal_joint" type="fixed">
          <parent link="middle_plastic"/>
          <child link="end_metal"/>
          <origin xyz="0.07500000000000001 0 0" rpy="0 0 0"/>
        </joint>


        <joint name="line_joint" type="fixed">
          <parent link="middle_plastic"/>
          <child link="line"/>
          <origin xyz="0 0 0.025050000000000003" rpy="0 0 0"/>
        </joint>



  <!-- Attach snap to box -->

    <!-- Attach the box directly to the snap connector -->
    <joint name="attach_box_to_snap" type="fixed">
      <parent link="middle_plastic"/>
      <child link="box"/>
      <origin xyz="0.04 0.095 0.0375" rpy="0 -1.5707963267948966 0"/>
    </joint>


  <!-- BEGIN switch.urdf content     -->
	<link name="base"><inertial><mass value="0.1" /><inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" /></inertial></link>
	<link name="link_0">
		<visual name="switch-1">
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-14.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-14.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</collision>
	<inertial><mass value="0.1" /><inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" /></inertial></link>
	<joint name="joint_0" type="prismatic">
		<origin xyz="0 0 0" />
		<axis xyz="0 1 0" />
		<child link="link_0" />
		<parent link="link_1" />
		<limit effort="30" lower="0" upper="0.2959999999999998" velocity="1.0" />
	</joint>
	<link name="link_1">
		<!-- <visual name="base_body-2">
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-4.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</visual> -->
		<!-- <visual name="base_body-2">
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-3.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</visual> -->
		<visual name="base_body-2">
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-2.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-8.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-13.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-9.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-5.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-6.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-11.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-12.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</visual>
		<visual name="base_body-2">
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-7.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</visual>
		<!-- <visual name="base_body-2">
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-1.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</visual> -->
		<visual name="base_body-2">
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-10.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</visual>
		<!-- <collision>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-4.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</collision> -->
		<!-- <collision>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-3.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</collision> -->
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-2.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-8.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-13.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-9.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-5.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-6.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-11.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-12.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-7.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</collision>
		<!-- <collision>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-1.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</collision> -->
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="textured_objs/original-10.obj" scale="0.1 0.1 0.1"/>
			</geometry>
		</collision>
	<inertial><mass value="0.1" /><inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" /></inertial></link>
	<joint name="joint_1" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0" />
		<child link="link_1" />
		<parent link="base" />
	</joint>


  <!-- Attach the switch base to middle_plastic at -y    -->

  <joint name="attach_switch_to_snap" type="fixed">
    <parent link="middle_plastic"/>
    <child link="base"/>
    <origin xyz="0 -0.055 0.0" rpy="0 1.5707963267948966 0"/>
  </joint>

</robot>